<div class="container-fluid customBackground text-white d-flex justify-content-center ">
  <div class="row mx-2 my-5">
    <div class="col-lg-6 col-md-12">
      <div class="container text-center">
        <img *ngIf='pelicula.backdrop_path!=null; else elseBlock' class='my-4 img-fluid' src="{{imageUrl}}{{pelicula.backdrop_path}}" alt="">
        <ng-template #elseBlock> <img src="assets/imagenes/errorImage.png" class="img-fluid my-4" alt=""> </ng-template>
        <div class="container">
          <button type="button" class="btn btn-dark form-control dropdown-toggle" data-toggle="dropdown">Marcar como</button>
          <div class="dropdown-menu bg-dark  white-text text-center">
            <div class="dropdown-item">Pendiente</div>
            <div class="dropdown-item">Vista</div>
          </div>
        </div> 
      </div>
    </div>
    <div class="col-lg-6 col-md-12 my-3">
      <div class="container">
        <div class="row">
          <div class="col">
            <h4>{{pelicula.title}} ({{pelicula.release_date.substring(0,4)}})</h4>
          </div>
        </div>
      </div>
      <div class="container">
        <h6><span *ngFor='let genero of pelicula.genres'>{{genero.name}} - </span> {{pelicula.runtime | minutosHoras}}</h6>
      </div>
      <div class="container my-4">
        <h6>Puntuacion media: {{pelicula.vote_average}}<i class="far fa-star colorCustom"></i></h6>
      </div>
      <div class="container my-2">
        <h6>Resumen</h6>
        <p>{{pelicula.overview}}</p>
      </div>
      <div class="container my-2">
        <div class="row">
          <div class="col-lg col-md-12 mb-2">
            <h5>Dirigida por:</h5>
            <ul class="list-group list-group-flush">
              <li style="list-style: none;" *ngFor='let crew of creditos.crew'>
                <span *ngIf='crew.job=="Director"'>{{crew.name}}</span>
              </li>
            </ul>
            <br>
            <h5>Escrita por:</h5>
            <ul class="list-group list-group-flush">
              <li style="list-style: none;" *ngFor='let crew of creditos.crew'>
                <span *ngIf='crew.department=="Writing"'>{{crew.name}}</span>
              </li>
            </ul>
          </div>
          <div class="col-lg col-md-12 mb-2">
            <h5>Actores principales:</h5>
            <ul class="list-group list-group-flush">
              <li style="list-style: none;" *ngFor='let i of [0,1,2,3,4,5,6,7,8,9]'>{{creditos.cast[i].original_name}}</li>
            </ul>
          </div>
          <div class="col-lg col-md-12 mb-2">
            <h5>Productoras:</h5>
            <ul class="list-group list-group-flush">
              <li style="list-style: none;" *ngFor='let productora of pelicula.production_companies'>{{productora.name}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
