<nav class="navbar navbar-expand-lg navbar-dark bg-custom text-white">
    <a class="navbar-brand">TO WATCH<span class="color-custom">LIST</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto">
            <ng-template [ngIf]='!fnLogged()' [ngIfElse]='buscador'>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive routerLink="/">Home <span class="sr-only">(current)</span></a>
                </li>
            </ng-template>
            <ng-template #buscador>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive routerLink="/buscador">Buscador</a>
                </li>
            </ng-template>
        </ul>
        <div class="form-inline">
            <input class="form-control mr-sm-2" type="text" placeholder="Search"  [(ngModel)]='busqueda'>
            <button class="btn btn-outline-dark customBorder my-2 my-sm-0" type="submit" (click)='realizarBusqueda()'>Search</button>
        </div>
        <ul class="navbar-nav">
            <ng-template [ngIf]='!fnLogged()' [ngIfElse]='salir'>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive routerLink="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive routerLink="/registro">Registro</a>
                </li>
            </ng-template>
            <ng-template #salir>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive routerLink="/perfil"><i class="far fa-user-circle"></i> Perfil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)='doLogout()' routerLink="."><i class="fas fa-sign-out-alt"></i> Logout</a>
                </li>
            </ng-template>
        </ul>
    </div>
</nav>
