.bg-custom {
  background-color: #0b0c10;
  height: 8vh;
}
.color-custom {
  color: #66fcf1;
  font-weight: bold;
}

.customBorder{
  border-color: #66fcf1;
  color: #66fcf1;
}

#collapsibleNavId{
  z-index: +20;
  background-color: #0b0c10;
}
