<div class="container-fluid" id="home">
  <div class="container container d-flex justify-content-center align-items-center h-75">
    <div class="row">
      <div class="col text-white text-center">
        <h1>MANTEN AL DIA TODAS</h1>
        <h1>TUS SERIES Y PELICULAS</h1>
        <h6>A LA VEZ QUE TE RECOMENSAMOS NUEVAS</h6>
        <a (click)='irHaciaLogin()' class="btn btn-dark">EMPIEZA AHORA</a>
      </div>
    </div>
  </div>
  <span class="clearfix"></span>
  <div class="container-fluid icon-color-custom">
    <div class="row"><div class="col"><i class="fab fa-twitter-square fa-3x"></i></div></div>
    <div class="row"><div class="col"><i class="fab fa-github-square fa-3x"></i></div></div>
    <div class="row"><div class="col"><i class="fab fa-linkedin fa-3x"></i></div></div>
  </div>
</div>
