<div class="container-fluid customBackground text-white d-flex justify-content-center ">
  <div class="row mx-2 my-5">
    <div class="col-lg-6 col-md-12">
      <div class="container text-center">
        <img *ngIf='serie.backdrop_path!=null; else elseBlock' src="{{imageUrl}}{{serie.backdrop_path}}" class="my-4 img-fluid" alt="">
        <ng-template #elseBlock> <img src="assets/imagenes/errorImage.png" class="img-fluid my-4" alt=""> </ng-template>
        <div class="container">
          <button type="button" class="btn btn-dark form-control dropdown-toggle" data-toggle="dropdown">Marcar como</button>
          <div class="dropdown-menu bg-dark  white-text text-center">
            <div class="dropdown-item">Pendiente</div>
            <div class="dropdown-item">Siguiendo</div>
            <div class="dropdown-item">Vista</div>
          </div>
        </div> 
      </div>
    </div>
    <div class="col-lg-6 my-3 col-md-12">
      <div class="container">
        <div class="row">
          <div class="col">
            <h4>{{serie.name}} ({{serie.first_air_date.substring(0,4)}})</h4>
          </div>
        </div>
      </div>
      <div class="container">
        <h6><span *ngFor='let genero of serie.genres'>{{genero.name}}- </span> {{serie.seasons.length}} temporada(s) en {{serie.networks[0].name}}  </h6>
      </div>
      <div class="container my-4">
        <h5>Puntuacion media: {{serie.vote_average}}<i class="far fa-star colorCustom"></i></h5>
      </div>
      <div class="container my-2">
        <h5>Resumen</h5>
        <p>{{serie.overview}}</p>
      </div>
      <div class="container my-2">
        <div class="row">
          <div class="col-lg col-md-12">
            <h5>Dirigida por:</h5>
            <ul class="list-group list-group-flush">
              <li style="list-style: none;" *ngFor='let crew of creditos.crew'>
                <span *ngIf='crew.known_for_department=="Directing"'>{{crew.name}}</span>
              </li>
            </ul>
          </div>
          <div class="col-lg col-md-12">
            <h5>Escrita por:</h5>
            <ul class="list-group list-group-flush">
              <li style="list-style: none;" *ngFor='let crew of creditos.crew'>
                <span *ngIf='crew.department=="Writing"'>{{crew.name}}</span>
              </li>
            </ul>
          </div>
          <div class="col-lg col-md-12">
            <h5>Actores principales:</h5>
            <ul class="list-group list-group-flush">
              <li style="list-style: none;" *ngFor='let i of [0,1,2,3,4,5,6,7,8,9]'>{{creditos.cast[i].original_name}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
