<div class="container-fluid customBackground">
    <h6 class="text-white my-3 mx-2">Peliculas Populares <i class="fas fa-chevron-right"></i></h6>
    <div class="row d-flex justify-content-center align-items-center mx-2 my-2">
        <div class="col my-2" *ngFor='let i of [0,1,2,3,4]'>
            <div class="card contenedor" style="width: 16rem;">
                <div>
                  <button type="button" class="flecha dropdown-toggle" data-toggle="dropdown"></button>
                  <div class="dropdown-menu bg-dark  white-text text-center">
                    <div class="dropdown-item">Pendiente</div>
                    <div class="dropdown-item">Vista</div>
                  </div>
                </div> 
                <img *ngIf='popularPeliculas[i].backdrop_path!=null; else elseBlock' src="{{imageUrl}}{{popularPeliculas[i].backdrop_path}}" class="card-img-top" alt="">
                <ng-template #elseBlock> <img src="assets/imagenes/errorImage.png" class="card-img-top" alt=""> </ng-template>
                <div class="card-body tag" (click)='verPelicula(popularPeliculas[i].id)'>
                  <p class="card-title my-1">{{popularPeliculas[i].title}}<br>{{popularPeliculas[i].release_date}}</p>
                </div>
              </div>       
        </div>
        <div class="col mx-3 text-white"><i (click)='verLista("movie","popular")' class="fas fa-plus fa-2x"></i></div>
    </div>
    <h6 class="text-white my-3 mx-2">Series Populares <i class="fas fa-chevron-right"></i></h6>
    <div class="row d-flex justify-content-center align-items-center mx-2 my-2">
      <div class="col my-2" *ngFor='let i of [0,1,2,3,4]'>
          <div class="card contenedor" style="width: 16rem;">
            <div>
              <button type="button" class="flecha dropdown-toggle" data-toggle="dropdown"></button>
              <div class="dropdown-menu bg-dark  white-text text-center">
                <div class="dropdown-item">Pendiente</div>
                <div class="dropdown-item">Siguiendo</div>
                <div class="dropdown-item">Vista</div>
              </div>
            </div> 
              <img *ngIf='popularSeries[i].backdrop_path!=null; else elseBlock' src="{{imageUrl}}{{popularSeries[i].backdrop_path}}" class="card-img-top" alt="">
              <ng-template #elseBlock> <img src="assets/imagenes/errorImage.png" class="card-img-top" alt=""> </ng-template>
              <div class="card-body tag" (click)='verSerie(popularSeries[i].id)'>
                <p class="card-title my-1">{{popularSeries[i].name}}<br>{{popularSeries[i].first_air_date}}</p>
              </div>
            </div>       
      </div>
      <div class="col mx-3 text-white"><i (click)='verLista("serie","popular")' class="fas fa-plus fa-2x"></i></div>
  </div>
  <h6 class="text-white my-3 mx-2">Peliculas Mejor Valoradas <i class="fas fa-chevron-right"></i></h6>
    <div class="row d-flex justify-content-center align-items-center mx-2 my-2">
      <div class="col my-2" *ngFor='let i of [0,1,2,3,4]'>
          <div class="card contenedor" style="width: 16rem;">
            <div>
              <button type="button" class="flecha dropdown-toggle" data-toggle="dropdown"></button>
              <div class="dropdown-menu bg-dark  white-text text-center">
                <div class="dropdown-item">Pendiente</div>
                <div class="dropdown-item">Vista</div>
              </div>
            </div> 
              <img *ngIf='mejorValoradaPeliculas[i].backdrop_path!=null; else elseBlock' src="{{imageUrl}}{{mejorValoradaPeliculas[i].backdrop_path}}" class="card-img-top" alt="">
                <ng-template #elseBlock> <img src="assets/imagenes/errorImage.png" class="card-img-top" alt=""> </ng-template>
              <div class="card-body tag" (click)='verPelicula(mejorValoradaPeliculas[i].id)'>
                <p class="card-title my-1">{{mejorValoradaPeliculas[i].title}}<br>{{mejorValoradaPeliculas[i].release_date}}
                  <span class="nota"><i class="far fa-star"></i>{{mejorValoradaPeliculas[i].vote_average}}</span></p>
              </div>
            </div>       
      </div>
      <div class="col mx-3 text-white"><i (click)='verLista("movie","mejor")' class="fas fa-plus fa-2x"></i></div>
  </div>
  <h6 class="text-white my-3 mx-2">Series Mejor Valoradas <i class="fas fa-chevron-right"></i></h6>
    <div class="row d-flex justify-content-center align-items-center mx-2 my-2">
      <div class="col my-2" *ngFor='let i of [0,1,2,3,4]'>
          <div class="card contenedor" style="width: 16rem;">
            <div>
              <button type="button" class="flecha dropdown-toggle" data-toggle="dropdown"></button>
              <div class="dropdown-menu bg-dark  white-text text-center">
                <div class="dropdown-item">Pendiente</div>
                <div class="dropdown-item">Siguiendo</div>
                <div class="dropdown-item">Vista</div>
              </div>
            </div> 
              <img *ngIf='mejorValoradaSeries[i].backdrop_path!=null; else elseBlock' src="{{imageUrl}}{{mejorValoradaSeries[i].backdrop_path}}" class="card-img-top" alt="">
              <ng-template #elseBlock> <img src="assets/imagenes/errorImage.png" class="card-img-top" alt=""> </ng-template>
              <div class="card-body tag" (click)='verSerie(mejorValoradaSeries[i].id)'>
                <p class="card-title my-1">{{mejorValoradaSeries[i].name}}<br>{{mejorValoradaSeries[i].first_air_date}}
                  <span class="nota"><i class="far fa-star"></i>{{mejorValoradaSeries[i].vote_average}}</span></p>
              </div>
            </div>       
      </div>
      <div class="col mx-3 text-white"><i (click)='verLista("serie","mejor")' class="fas fa-plus fa-2x"></i></div>
  </div>
</div>

