<div class="container-fluid customBackground">
  <div class="container vw-50 border border-dark my-5">
    <div class="row text-white p-5">
      <h3 class="font-weight-bold w-100">Jaime Sánchez-Villaca&ntilde;as Lucas</h3>
      <h4 class="font-weight-light w-100">T&eacute;cnico Superior en Desarrollo de Aplicaciones Web</h4>
      <p class="w-100 mt-4 mb-0"><a href="mailto:jaimesanchez456@gmail.com" class="text-white">jaimesanchez456@gmail.com</a></p>
      <p class="mt-1 mb-5">656919501</p>
    </div>
    <div class="row p-5 fondo-blanco">
      <div class="row separador mb-4 w-100">
        <div class="col-12">
          <h4 class="font-weight-bold mb-3">Objetivo Profesional</h4>
          <p>Mi objetivo profesional va dirigido a conseguir experiencia laboral, en una empresa que
            me permita crecer personal y profesionalmente, y que crea en los beneficios de
            incorporar a gente joven al equipo.</p>
        </div>
      </div>
      <div class="row separador mb-4 w-100">
        <div class="col-12">
          <h4 class="font-weight-bold mb-3 w-100">Experiencia</h4>
          <p class="w-100 mb-0"><span class="font-weight-bold">MATA MAKROPAPER </span>(2021)</p>
          <p class="mt-0">Desarrollador de Aplicacines Web, 2 meses</p>
        </div>
      </div>
      <div class="row separador mb-4 w-100">
        <div class="col-12">
          <h4 class="font-weight-bold mb-3 w-100">Formaci&oacute;n</h4>
        </div>
        <div class="col-12">
          <p class="w-100 mb-0"><span class="font-weight-bold">IES Juan Bosco, Alc&aacute;zar de San Juan </span>(2019-2021)</p>
          <p class="mt-0">Grado superior en Desarrollo de Aplicaciones Web</p>
        </div>
        <div class="col-12">
          <p class="w-100 mb-0"><span class="font-weight-bold">UCLM, Ciudad Real </span>(2015-2017)</p>
          <p class="mt-0">90 creditos en Grado en Ingenier&iacute;a Inform&aacute;tica</p>
        </div>
      </div>
      <div class="row separador mb-4 w-100">
        <div class="col-12">
          <h4 class="font-weight-bold mb-3 w-100">Idiomas</h4>
          <p class="w-100 mb-0"><span class="font-weight-bold">ISE III (C1) </span>(2018)</p>
          <p class="mt-0">Certificado de Trinity College London</p>
        </div>
      </div>
      <div class="row w-100 mb-4 separador">
        <div class="col-12">
          <h4 class="font-weight-bold mb-4 w-100">Habilidades</h4>
        </div>
        <div class="col-lg-4 col-md-4 col-mx-12 mb-4 font-weight-bold text-center">HTML,CSS</div>
        <div class="col-lg-4 col-md-4 col-mx-12 mb-4 font-weight-bold text-center">JavaScript</div>
        <div class="col-lg-4 col-md-4 col-mx-12 mb-4 font-weight-bold text-center">PHP</div>
        <div class="col-lg-4 col-md-4 col-mx-12 mb-4 font-weight-bold text-center">Angular</div>
        <div class="col-lg-4 col-md-4 col-mx-12 mb-4 font-weight-bold text-center">JQuery</div>
        <div class="col-lg-4 col-md-4 col-mx-12 mb-4 font-weight-bold text-center">Java</div>
      </div>
      <div class="row w-100 mb-4">
        <div class="col-12">
          <h4 class="font-weight-bold mb-4 w-100">Donde encontrarme</h4>
        </div>
        <div id='posicionMapa' class="w-100" style='height: 30vh'></div>
      </div>
    </div>
  </div>
</div>
