<div class="container-fluid customBackground text-white">
    <h6 class="text-white my-3 mx-2">Peliculas <i class="fas fa-chevron-right"></i></h6>
    <div class="row d-flex justify-content-center align-items-center mx-2 my-2 h-25">
        <div class="col my-2" *ngFor='let pelicula of peliculas'>
            <div class="card contenedor" style="width: 16rem;">
                <span class="flecha"><i class="fas fa-chevron-down"></i></span>
                <img *ngIf='pelicula.backdrop_path!=null; else elseBlock' src="{{imageUrl}}{{pelicula.backdrop_path}}" class="card-img-top" alt="">
                <ng-template #elseBlock> <img src="assets/imagenes/errorImage.png" class="card-img-top" alt=""> </ng-template>
                <div class="card-body tag" (click)='verPelicula(pelicula.id)'>
                    <p class="card-title my-1">{{pelicula.title}}<br>{{pelicula.release_date}}</p>
                </div>
            </div>       
        </div>
    </div>
    <h6 class="text-white my-3 mx-2">Series <i class="fas fa-chevron-right"></i></h6>
        <div class="row d-flex justify-content-center align-items-center mx-2 my-2 h-25">
        <div class="col my-2" *ngFor='let serie of series'>
            <div class="card contenedor" style="width: 16rem;">
                <span class="flecha"><i class="fas fa-chevron-down"></i></span>
                <img *ngIf='serie.backdrop_path!=null; else elseBlock' src="{{imageUrl}}{{serie.backdrop_path}}" class="card-img-top" alt="">
                <ng-template #elseBlock> <img src="assets/imagenes/errorImage.png" class="card-img-top" alt=""> </ng-template>
                <div class="card-body tag" (click)='verSerie(serie.id)'>
                    <p class="card-title my-1">{{serie.name}}<br>{{serie.first_air_date}}</p>
                </div>
                </div>       
        </div>
    </div>
</div>
