<div class="container-fluid customBackground text-white">
    <h6 class="text-white my-3 mx-2">Resultados de la busqueda "{{busqueda}}" <i class="fas fa-chevron-right"></i></h6>
    <div class="row d-flex justify-content-center align-items-center mx-2 my-2 h-25">
    <div class="col my-2" *ngFor='let you of resultados'>
        <div class="card contenedor" style="width: 16rem;">
            <div *ngIf="you.tipo=='pelicula'; else elseBlock">
            <button type="button" class="flecha dropdown-toggle" data-toggle="dropdown"></button>
            <div class="dropdown-menu bg-dark  white-text text-center">
                <div class="dropdown-item" (click)="aniadirTitulo(you.id,1)">Pendiente</div>
                <div class="dropdown-item" (click)="aniadirTitulo(you.id,2)">Vista</div>
            </div>
            </div> 
            <ng-template #elseBlock>
            <div>
                <button type="button" class="flecha dropdown-toggle" data-toggle="dropdown"></button>
                <div class="dropdown-menu bg-dark  white-text text-center">
                <div class="dropdown-item" (click)="aniadirTitulo(you.id,1)">Pendiente</div>
                <div class="dropdown-item" (click)="aniadirTitulo(you.id,3)">Siguiendo</div>
                <div class="dropdown-item" (click)="aniadirTitulo(you.id,2)">Vista</div>
                </div>
            </div> 
        </ng-template>
            <img src="{{you.imagen}}" class="card-img-top" alt="">
            <div class="card-body tag" (click)='verPelicula(you.id)' *ngIf="you.tipo=='pelicula'; else elseBlock2">
                <p class="card-title my-1 pointer">{{you.titulo}}<br>{{you.fecha_salida}}
            </div>
            <ng-template #elseBlock2>
                <div class="card-body tag" (click)='verSerie(you.id)'>
                <p class="card-title my-1 pointer">{{you.titulo}}<br>{{you.fecha_salida}}
                </div>
            </ng-template>
        </div>       
    </div>
    </div>
</div>
